@{
    ViewData["Title"] = "Home Page";
}

@*<div class="card">
    <div class="card-body">
        @await Component.InvokeAsync("AddTweet")
    </div>
</div>

<ul class="list-group" id="TweetList">
</ul>*@
